In [27]:
# https://github.com/wingchen/citipy

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import openweathermapy.core as owm
import requests
import json
import time
import datetime

# Import API key
from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [28]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

612

In [29]:
cities = pd.DataFrame(cities)
cities.columns = ['City']
cities['Cloudiness (%)'] = np.NaN
cities['Country'] = np.NaN
cities['Date'] = np.NaN
cities['Humidity'] = np.NaN
cities['Lat'] = np.NaN
cities['Lng'] = np.NaN
cities['Max Temp (°F)'] = np.NaN
cities['Wind Speed (mph)'] = np.NaN
cities.head()

,City,Cloudiness (%),Country,Date,Humidity,Lat,Lng,Max Temp (°F),Wind Speed (mph)
0,flinders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,busselton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,darhan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,butaritari,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,belushya guba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
base_url = "http://api.openweathermap.org/data/2.5/weather?"
params = {
    "appid": api_key,
    "units": "imperial"
}

In [30]:
params["q"] = cities['City'][0]
response = requests.get(base_url, params=params)
response_json = response.json()

In [25]:
cities.loc[[0],'Cloudiness'] = response_json['clouds']['all']
cities.loc[[0],'Country'] = response_json['sys']['country']
date = datetime.datetime.fromtimestamp(int(response_json['dt'])).strftime('%m-%d-%Y')
cities.loc[[0],'Date'] = date
cities.loc[[0],'Humidity'] = response_json['main']['humidity']
cities.loc[[0],'Lat'] = response_json['coord']['lat']
cities.loc[[0],'Lng'] = response_json['coord']['lon']
cities.loc[[0],'Max Temp'] = response_json['main']['temp_max']
cities.loc[[0],'Wind Speed'] = response_json['wind']['speed']
cities.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,les escoumins,94.0,CA,08-27-2019,49.0,48.35,-69.4,23.95,3.01
1,masumbwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,lebu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,hobart,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,severo-kurilsk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# # use iterrows to iterate through pandas dataframe
# for index, row in cities.iterrows():

#     # get city name from the dataframe
#     city_name = row['City']

#     # add keyword to params dict
#     params['keyword'] = city_name

#     # assemble url and make API request
#     Processing Record 1 of Set 1 | lompoc
#     print(f"Making request number: {x} for ID: {indices[x]} | {city_name}")
#     response = requests.get(base_url, params=params).json()

for x in range(len(indices)):
    print(f"Making request number: {x} for ID: {indices[x]} | {city_name}")

    # Get one of the posts
    post_response = requests.get(url + str(indices[x]))

    # Save post's JSON
    response_json.append(post_response.json())
    
#     # extract results
#     results = response['results']
    
#     try:
#         cities.loc[index,'Cloudiness'] = results[0]['name']
#         cities.loc[index,'Country'] = results[0]['vicinity']
#         cities.loc[index,'Date'] = results[0]['price_level']
#         cities.loc[index,'Humidity'] = results[0]['rating']
#         cities.loc[index,'Lat'] = results[0]['name']
#         cities.loc[index,'Lng'] = results[0]['vicinity']
#         cities.loc[index,'Max Temp'] = results[0]['price_level']
#         cities.loc[index,'Wind Speed'] = results[0]['rating']
        
#     except:
#         print("City not found. Skipping...")
#     if (len(results)==0):
# 
#     else:
#         name = results[0].get('name', "Missing Name")
#         types_df.loc[index, 'name'] = results[0].get('name', np.nan)
#         types_df.loc[index, 'address'] = results[0].get('vicinity', np.nan)
#         types_df.loc[index, 'price_level'] = results[0].get('price_level', np.nan)
#         types_df.loc[index, 'rating'] = results[0].get('rating', np.nan)
        
#     print("------------")